.input{
  font-size: 1rem;
}
ion-item{
  --background: #1f1f1f;
  border-radius: 10px;
  margin-bottom: 16px
}
.arrowBack{

  color: blue;
}


.headerContent{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  .subTitle{
    color: grey;
    font-size: 0.9rem;
  }
  title{
    font-size: 2rem;
  }
}

.registerLink{
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 80%;
  right: 0;

  p{
    font-size: 0.9rem;
  }
  a{
    text-decoration: none;
  }
}

.forgotpassword{
  display: flex;
  justify-content: flex-end;
  a{
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
  }
}