
ion-note{
  color: #B8B8D2;
  font-weight: 800;
  font-size: 16px;
}
ion-input {
  --background: #3E3E55;
  color: #858597;
  font-weight: 500;
  font-size: 16px;
  height: 70px;
  z-index: 9999;
  --ion-border-color: none !important
}

.input-fill-outline.sc-ion-input-md-h{
  --border-radius: 10px !important;
  --border-color: none;

}
ion-item{
  --background: #3E3E55;
}

ion-content {
  --ion-background-color: #1F1F39 !important;
}

.register{
  font-size: 30pt;
  font-weight: bold;
}
.passwort-vergessen {
  text-align: right;
}

ion-button {
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  --background: #3D5CFF;
  --border-radius: 10px;
  height: 70px;
  min-width: 380px;
}

.loginPrompt {
  padding-top: 1rem;
  text-align: center;
  color: #B8B8D2;
  font-size: 14px;
  font-weight: 500;
  a{
    color: #3D5CFF;
    text-decoration: none;
  }
}


.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #B8B8D2;
}

.or-text {
  padding: 0 10px;
}

.google-button {
  --background: #EEEEEE;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  border-radius: 10px;
}

