<ion-content class="ion-padding">
    <ion-text><h1 class="register">Registrieren</h1></ion-text>
    <ion-note class="subTitle ion-padding-bottom"><h5>Erstelle ein neues Konto.</h5></ion-note>
    <form (ngSubmit)="register()"
          [formGroup]="credentials"
          class="ion-padding-top">
        <ion-input
                fill="outline"
                placeholder="Vorname"
                formControlName="firstName"
                [clearInput]="true"
                class="ion-margin-bottom">
        </ion-input>
        <ion-input
                fill="outline"
                placeholder="Nachname"
                formControlName="lastName"
                [clearInput]="true"
                class="ion-margin-bottom">
        </ion-input>
        <ion-input
                fill="outline"
                type="email"
                placeholder="Email"
                formControlName="email"
                [clearInput]="true" class="ion-margin-bottom">
        </ion-input>
        <ion-input fill="outline"
                   type="password"
                   placeholder="Passwort"
                   formControlName="password" class="ion-margin-bottom">
        </ion-input>
        <ion-button type="button"
                    expand="block"
                    size="large"
                    (click)="register()" class="ion-margin-top">
            Registrieren
        </ion-button>
    </form>

    <div class="loginPrompt ion-margin-top">
        Du hast bereits einen Account? <a [routerLink]="['/login']">Anmelden</a>
    </div>
    <div class="divider">
        <hr class="line">
        <span class="or-text">ODER</span>
        <hr class="line">
    </div>

    <ion-button class="google-button" size="large" disabled>
        <ion-icon name="logo-google"></ion-icon>
    </ion-button>

</ion-content>
