<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Registrieren</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
    <div class="headerContent">
    <ion-title class="title">Willkommen</ion-title>
        <p class="subTitle">Registriere dich jetzt</p>
    </div>
    <form>
        <div class="ion-padding">
            <ion-item>
                <ion-input placeholder="Vorname" class="input"></ion-input> -->
             <!-- <ion-icon name="person-outline"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Nachname" class="input"></ion-input>
              //  <ion-icon name="person-outline"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Username" class="input"></ion-input>
                <ion-icon name="person-outline"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input placeholder="E-Mail" class="input"></ion-input>
                <ion-icon name="mail-outline"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Password" class="input"></ion-input>
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-item>
            <div class="signinLink">
                <p class=""> Already a member? <a [routerLink]="['/login']" style="color: #FFC33F">Signin up</a></p>
            </div>
            <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 1px">
                <ion-fab-button [routerLink]="['/home']">
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </form>
</ion-content>
-->

<ion-content class="ion-padding">
    <form (ngSubmit)="register()" [formGroup]="credentials">
        <ion-item  class="ion-margin-bottom">
            <ion-input fill="solid" placeholder="Vorname" formControlName="firstName" ></ion-input>
        </ion-item>

        <ion-item  class="ion-margin-bottom">
            <ion-input fill="solid" placeholder="Nachname" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item  class="ion-margin-bottom">
            <ion-input fill="solid" type="email" placeholder="Email" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
        </ion-item>

        <ion-item  class="ion-margin-bottom">
            <ion-input fill="solid" type="password" placeholder="Password"
                      formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
        </ion-item>
        <ion-button type="button" expand="block" color="primary" (click)="register()">Registrieren
        </ion-button>
    </form>
</ion-content>