<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Passwort vergessen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="headerContent">
        <ion-title class="title">
            Geben Sie Ihre E-Mail-Adresse ein
            <p class="subTitle">Sie erhalten einen Link <br> zum Zurücksetzen des Passworts</p>
        </ion-title>
    </div>
    <div>
        <ion-item>
            <ion-input type="email" [(ngModel)]="email"
                       placeholder="Geben Sie Ihre E-Mail-Adresse ein"
                       class="input"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="end">
            <ion-fab-button (click)="resetPassword()">
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
