/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  ion-toolbar {
    border: none;
    --ion-toolbar-background: var(--ion-background-color-darker);
    --padding-start: var(--ion-padding, 16px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 16px);
    --padding-bottom: var(--ion-padding, 16px);
  }

  ion-card {
    margin: 20px;
    // background-color: var(--ion-color-dark-shade);
    background-color: transparent;
    border: none;
    box-shadow: none;

    ion-card-header {
      color: var(--ion-text-color-light);
      font-weight: bold !important;
      font-size: var(--ion-font-size, 20px);
    }

    ion-card-content {
      ion-list {
        background-color: transparent;
        border-radius: 10px;

        ion-item {
          width: auto;
          display: block;
          cursor: pointer;
          --background: var(--ion-card-background-mockup); /* Setzt die Hintergrundfarbe des Listenelements */
          // background-color: var(--ion-color-dark);
          margin: 10px;
          height: auto;
          font-size: x-large;
          border-radius: 10px;
          box-shadow: 3px 3px 3px var(--ion-border-color);
          /* Entfernt die Standard-Unterlinie */
          --inner-border-color: transparent;
          --inner-border-width: 0;

          &:focus {
            --inner-border-color: transparent;
            --inner-border-width: 0;
          }

          &.selected {
            color: #e0ac08 !important;
            border: 2px solid var(--ion-color-primary) !important;
            --background: var(--ion-card-background-mockup) !important;
            font-weight: bold !important;
          }

          &.correct {
            border: 3px solid #8fce00 !important;
            --background: var(--ion-card-background-mockup) !important;
            color: var(--ion-text-color-light) !important;
          }

          &.incorrect {
            border: 3px solid red !important;
            --background: var(--ion-card-background-mockup) !important;
            color: var(--ion-text-color-light) !important;
          }

          &.selected-answer {
            color: var(--ion-color-primary-tint) !important;
            font-weight: bold !important;
          }
        }
      ;
      }
    }
  }

  ion-header ion-toolbar ion-button.button-solid {
    --background: var(--ion-color-base) !important;
    color: var(--ion-color-light) !important;
    margin-top: 15px;

    // Hintergrundfarbe für den aktiven Zustand anpassen
    &:active,
    &:focus {
      --background: var(--ion-color-base) !important;
    }

    // Optional: Hintergrundfarbe beim Drücken anpassen
    ion-ripple-effect {
      --ion-ripple-color: var(--ion-color-base);
    }

    // Schatten entfernen
    --box-shadow: none !important;
    box-shadow: none !important;
  }

  // Optional: spezifische Regel für .specific-class, falls benötigt
  ion-button.specific-class {
    color: var(--ion-color-light) !important;
  }
  /* SCSS für das Zentrieren der Buttons */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  /* Optional: Zusätzliche Stile für die Buttons */
  .buttonAfterlist {
    margin: 5px;
    display: flex;
    justify-content: center;
    --background: var(--ion-color-warning);
    --color: var(--ion-color-light);
    box-shadow: none; /* Entfernt den Schatten */
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  .header-ios ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
  }
  .header-md ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
    --border-style: none;

    ion-searchbar {
      --cancel-button-color: var(--ion-text-color);
      box-shadow: none;
      padding: 10px;
      color: white;
    }
  }

  ion-header {
    ion-toolbar {
      --background: transparent;
      --box-shadow: none !important;
      --border-style: none;
    }

    ion-title {
      font-size: x-large;
      color: var(--ion-text-color);
    }
  }
  ion-card {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0;
    padding-top: 0;

    ion-card-header {
      width: auto;
      color: var(--ion-text-color-light);
      font-weight: bold !important;
      font-size: var(--ion-font-size, 24px);
    }

    ion-card-content {
      background-color: transparent;
      width: 100%;
      display: block;
      --background: var(--ion-card-background-mockup); /* Setzt die Hintergrundfarbe des Listenelements */
      ion-list {
        background-color: transparent;
        // border-radius: 10px;
        width: auto;
        display: block;

        ion-item {
          width: auto;
          display: block;
          cursor: pointer;
          --background: var(--ion-card-background-mockup); /* Setzt die Hintergrundfarbe des Listenelements */
          // background-color: var(--ion-color-dark);
          margin: 10px;
          height: auto;
          font-size: x-large;
          border-radius: 10px;
          box-shadow: 1px 1px 1px var(--ion-color-dark-tint);
          /* Entfernt die Standard-Unterlinie */
          --inner-border-color: transparent;
          --inner-border-width: 0;

          &:focus {
            --inner-border-color: transparent;
            --inner-border-width: 0;
          }

          &.selected {
            color: var(--ion-color-tertiary-contrast) !important;
            border: 2px solid var(--ion-color-primary) !important;
            --background: #d9d9d9 !important;
            font-weight: bold !important;
          }

          &.correct {
            border: 3px solid #8fce00 !important;
            --background: var(--ion-card-background-mockup) !important;
            color: var(--ion-color-light) !important;
          }

          &.incorrect {
            border: 3px solid red !important;
            --background: var(--ion-card-background-mockup) !important;
            color: var(--ion-color-light) !important;
          }

          &.selected-answer {
            color: var(--ion-color-primary-tint) !important;
            font-weight: bold !important;
          }

          &.specific-class {
            --inner-border-color: transparent;
            --inner-border-width: 0;
          }

          .item-native {
            background-color: var(--ion-color-primary) !important;
          }
        }

        ion-item:hover {
          --inner-border-color: transparent;
          --inner-border-width: 0;
        }

        ion-item:active {
          --inner-border-color: transparent;
          --inner-border-width: 0;
        }
      }
    }
  }

  // Optional: spezifische Regel für .specific-class, falls benötigt
  ion-button.specific-class {
    color: var(--ion-color-light) !important;
  }
  /* SCSS für das Zentrieren der Buttons */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  /* Optional: Zusätzliche Stile für die Buttons */
  .buttonAfterlist {
    margin: 5px;
    display: flex;
    justify-content: center;
    --background: var(--ion-color-warning);
    --color: var(--ion-color-light);
    box-shadow: none; /* Entfernt den Schatten */
  }
}
