<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="backButton ion-padding-top" [routerLink]="['/home']">
                <ion-icon name="arrow-back-outline" class="arrowBack"></ion-icon>
            </ion-button>
        </ion-buttons>
            <ion-title class="ion-padding-top ion-text-center">{{ categoryName || 'Kategorie' }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="currentQuestion">
        <ion-card-header class="ion-padding">
                {{ currentQuestion.question }}
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item
                        *ngFor="let answer of currentQuestion.answers"
                        [ngClass]="{
                            'selected': selectedAnswers.includes(answer),
                            'correct': showResult && isCorrectAnswer(answer),
                            'incorrect': showResult && !isCorrectAnswer(answer) && selectedAnswers.includes(answer),
                            'selected-answer': selectedAnswers.includes(answer) && !showResult
                        }" (click)="toggleAnswer(answer)">
                    {{ answer }}
                </ion-item>
            </ion-list>
            <ion-button class="buttonAfterlist" *ngIf="!showResult" (click)="checkAnswers()">Antworten überprüfen
            </ion-button>
            <ion-button class="buttonAfterlist" *ngIf="showResult" (click)="getNextQuestion()">Nächste Frage
            </ion-button>

            <p *ngIf="showResult && !this.correctAnswer">Falsch! Die richtige(n) Antwort(en) ist/sind:
                {{ currentQuestion.correctAnswer.join(', ') }}</p>

            <p *ngIf="showResult && this.correctAnswer">Richtig!</p>
        </ion-card-content>
    </ion-card>
</ion-content>