<!--<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Module Management</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>-->

<ion-content class="ion-padding">
  <!--  <ion-searchbar *ngIf="searchVisible" [(ngModel)]="searchTerm" (ionInput)="filterCategories()"></ion-searchbar>-->

    <ng-container class="section">
        <h2>Meine Module</h2>
        <ng-container *ngIf="favCategories.length === 0">Sie haben noch keine Module ausgewählt
            .</ng-container>
        <ion-list class="ion-padding">
            <ion-item *ngFor="let category of favCategories">
                {{ category.name }}
            </ion-item>
        </ion-list>
    </ng-container>

    <!--<div class="section">
        <h2>Entdecken</h2>
        <ion-list>
            <ion-item *ngFor="let category of filteredCategories" (click)="addToFavorites(category.id)">
                {{ category.name }}
            </ion-item>
        </ion-list>
    </div>-->
    <h2>Entdecken</h2>
    <ion-list class="ion-padding">
        <ng-container *ngFor="let category of categories">
                <ion-item (click)="addFavorite(category.id, category.name)">
                    {{ category.name }} ({{ category.questionCount }})
                </ion-item>
            </ng-container>
    </ion-list>
</ion-content>

<app-footer></app-footer>
