<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Module Management</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!--  <ion-searchbar *ngIf="searchVisible" [(ngModel)]="searchTerm" (ionInput)="filterCategories()"></ion-searchbar>-->
    <h2>Meine Module</h2>
    <ion-card
            *ngIf="favCategories.length === 0"><ion-text>Sie haben noch keine Module favorisiert
        😢</ion-text> </ion-card>
    <ion-list class="ion-padding" *ngFor="let category of favCategories">
        <ion-item-sliding>
        <ion-item>
            {{ category.name }} ({{ category.questionCount }})
        </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeFav(category)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <h2>Entdecken</h2>
    <ion-list class="ion-padding" *ngFor="let category of categories">
        <ion-item (click)="addFav(category.id, category.name, category.questionCount)">
            {{ category.name }} ({{ category.questionCount }})
        </ion-item>
    </ion-list>
</ion-content>

<app-footer></app-footer>
