/* Light Mode Specific Styles */
@media (prefers-color-scheme: light) {
  ion-footer {
    ion-tab-bar {
      background-color: transparent; // Hintergrundfarbe für den Tab-Bar im Light Mode

      ion-tab-button {
        background-color: transparent;
        color: var(--ion-text-color-dark); // Textfarbe im Light Mode
        --color-selected: var(--ion-color-primary-light); // Farbe für ausgewählten Tab im Light Mode
        --color-selected-hover: var(--ion-color-primary-light); // Farbe für Hover im Light Mode

        ion-icon {
          // color:   var(--ion-color-primary-tint);
          color:     var(--ion-color-medium);
        }

        ion-label {
          font-size: 12px; // Schriftgröße für Labels
          // color:   var(--ion-color-primary-tint);  // Farbe des Text im Dark Mode
          color:   var(--ion-color-medium);  // Farbe des Text im Dark Mode
        }
      }
    }
  }
}

/* Dark Mode Specific Styles */
@media (prefers-color-scheme: dark) {
  ion-footer {
    ion-tab-bar {
      background-color: transparent; // Hintergrundfarbe für den Tab-Bar im Dark Mode

      ion-tab-button {
        background-color: transparent;
        color: var(--ion-text-color-dark); // Textfarbe im Dark Mode
        --color-selected: var(--ion-color-primary-dark); // Farbe für ausgewählten Tab im Dark Mode
        --color-selected-hover: var(--ion-color-primary-dark); // Farbe für Hover im Dark Mode

        ion-icon {
          color: white; // Farbe der Icons im Dark Mode
        }

        ion-label {
          font-size: 12px; // Schriftgröße für Labels
          color: white; // Farbe des Text im Dark Mode
        }
      }
    }
  }
}
