
    <div class="tabBar">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [routerLink]="['/home']"
                        routerLinkActive="active">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="modules" [routerLink]="['/categories']" routerLinkActive="active">
            <ion-icon name="book"></ion-icon>
            <ion-label>Module</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="add" [routerLink]="['/personalFavorites']" routerLinkActive="active">
            <div class="addCircle">

            <ion-icon name="add-outline" class="addCircleIcon"></ion-icon>

            </div>

            <ion-label class="addTab" >Hinzufügen</ion-label>

        </ion-tab-button>
        <ion-tab-button tab="progress" [routerLink]="['/total-stats']" routerLinkActive="active">
            <ion-icon name="stats-chart"></ion-icon>
            <ion-label>Fortschritt</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/profile']" routerLinkActive="active">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

    </div>
