.addTab {
  position: relative;
  top: 5px;
  //background-color: var(--ion-background-color-test);
  //overflow: hidden; /* Verhindert Überläufe */
  //border-radius: 15px 15px 0 0; /* Rundet die oberen Ecken ab */
  // Textfarbe im Dark Mode
}

ion-tab-button.active ion-icon, ion-tab-button.active ion-label {
  color: var(--ion-color-primary); // Farbe für ausgewählten Tab im Dark Mode
}

ion-label {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

ion-icon {
  width: 25px;
  height: 25px;
}

.addCircle {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.05);

}

.addCircleIcon {
  width: 35px;
  height: 35px;
  color: var(--ion-color-primary);
}

ion-tab-button {
  --ripple-color: transparent;
  overflow: visible;
}

ion-tab-bar {
  border-radius: 15px 15px 0 0;
  height: 100px;
  box-shadow: var(--box-shadow);
}


/* Light Mode Specific Styles */
@media (prefers-color-scheme: light) {
  ion-footer {
    ion-tab-bar {
      background-color: transparent;

      ion-tab-button {
        background-color: transparent;
        color: var(--ion-text-color-dark);
        --color-selected: var(--ion-color-primary-light);
        --color-selected-hover: var(--ion-color-primary-light);

        ion-icon {
          color: var(--ion-color-medium);
        }

        ion-label {
          color: var(--ion-color-medium);
        }
      }
    }
  }
}

/* Dark Mode Specific Styles */
@media (prefers-color-scheme: dark) {
  ion-footer {

    ion-tab-bar {
      background-color: var(--ion-background-color-md);

      border-color: transparent;

      ion-tab-button {
        background-color: transparent;
        color: var(--ion-text-color); // Textfarbe im Dark Mode


        ion-label {
          color: white; // Farbe des Text im Dark Mode
        }


      }

      /* ion-tab-button.active ion-icon, ion-tab-button.active ion-label {
         color: var(--ion-color-primary); // Farbe für ausgewählten Tab im Dark Mode
       }*/
    }
  }
}




