<!--<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Achievements</ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content>
   <ion-grid>
       <ion-col size="auto">
           <ion-text class="entdecken ion-margin-bottom">Achievements</ion-text>
       </ion-col>
    <ion-col>
        <ion-card class="achievements" *ngFor="let achievement of achievements">
            <ion-card-header class="ion-align-items-center ion-justify-content-between">
                <ion-text class="achievement-name">{{ achievement.name }}</ion-text>
                <ion-icon [name]="achievement.icon" style="font-size: 1.5rem;"></ion-icon>
            </ion-card-header>
            <ion-card-header class="ion-align-items-center ion-justify-content-between">
                <ion-text class="achievement-description">{{ achievement.description }}</ion-text>
            </ion-card-header>
        </ion-card>


        <!-- Add this block for the no achievements message -->
        <ng-template #noAchievements>
            <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh; text-align: center;">
                <div>
                    <ion-icon name="sad-outline" style="font-size: 3rem;"></ion-icon>
                    <h2>Du hast noch keine Erfolge freigeschaltet 😢</h2>
                </div>
            </ion-row>
        </ng-template>

        <!-- Show the message if there are no achievements -->
        <div *ngIf="achievements.length === 0">
            <ng-container *ngTemplateOutlet="noAchievements"></ng-container>
        </div>
    </ion-col>
   </ion-grid>
</ion-content>
