<ion-text class="entdecken ion-margin-bottom">Achievements</ion-text>
<ion-grid>
    <ion-row>
        <ion-col size="6" *ngFor="let achievement of achievements">
            <ion-card class="achievements">
                <ion-card-header class="ion-align-items-center ion-justify-content-between">
                    <ion-text class="achievement-name">{{ achievement.name }}</ion-text>
                    <ion-icon [name]="achievement.icon" style="font-size: 1.5rem;"></ion-icon>
                </ion-card-header>
                <ion-card-content class="ion-align-items-center ion-justify-content-between">
                    <ion-text class="achievement-description">{{ achievement.description }}</ion-text>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <!-- Add this block for the no achievements message -->
    <ng-template #noAchievements>
        <ion-row class="noAchievements ion-justify-content-center ion-align-items-center" style="text-align: center;">
            <ion-card class="achievements" style="height: 100px">
                <div>
                 <h2>Du hast noch keine Erfolge freigeschaltet 😢</h2>
            </div>
            </ion-card>
        </ion-row>
    </ng-template>

    <!-- Show the message if there are no achievements -->
    <div *ngIf="achievements.length === 0">
        <ng-container *ngTemplateOutlet="noAchievements"></ng-container>
    </div>
</ion-grid>
