<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Gesamtstatistik</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>GESAMT Richtige Antworten: {{ totalCorrectAnswers }}</p>
            <p>GESAMT Falsche Antworten: {{ totalIncorrectAnswers }}</p>
            <ion-button (click)="backToHome()">Zurück zu Home</ion-button>
            <ion-button (click)="resetTotalStats()" color="danger">Statistik zurücksetzen</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

