<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button class="backButton" [routerLink]="['/home']">
                    <ion-icon name="arrow-back-outline" class="arrowBack"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Fortschritt</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Gesamtstatistik</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>GESAMT Richtige Antworten: {{ totalCorrectAnswers }}</p>
            <p>GESAMT Falsche Antworten: {{ totalIncorrectAnswers }}</p>
            <p>GESAMT Absolvierte Quizze: {{ completedQuizzes }}</p>
            <ion-button (click)="backToHome()">Zurück zu Home</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let module of modules">
        <ion-card-header>
            <ion-card-title>{{ module.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Richtige Antworten: {{ module.correctAnswers }}</p>
            <p>Falsche Antworten: {{ module.incorrectAnswers }}</p>
            <p>Abgeschlossene Quizze: {{ module.completedQuizzes }}</p>
            <ion-progress-bar [value]="module.correctAnswers / (module.correctAnswers + module.incorrectAnswers)"></ion-progress-bar>
        </ion-card-content>
    </ion-card>
</ion-content>

