<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="backButton ion-padding-top" [routerLink]="['/home']">
                <ion-icon name="arrow-back-outline" class="arrowBack"></ion-icon>
            </ion-button>
            <ion-title class="ion-padding-top">Fortschritt</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <app-progress-bar></app-progress-bar>
    <ion-title>Gesamtstatistik</ion-title>
    <ion-card>
        <ion-card-content>
            <ion-item class="ion-no-padding">
                <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row>
                        <ion-col class="ion-no-padding">Richtige Antworten:</ion-col>
                        <ion-col class="ion-no-padding ion-text-end" size="auto">{{ totalCorrectAnswers }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item class="ion-no-padding">
                <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row>
                        <ion-col class="ion-no-padding">Falsche Antworten:</ion-col>
                        <ion-col class="ion-no-padding ion-text-end" size="auto">{{ totalIncorrectAnswers }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item class="ion-no-padding">
                <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row>
                        <ion-col class="ion-no-padding">Anzahl Quizzes:</ion-col>
                        <ion-col class="ion-no-padding ion-text-end" size="auto">{{ completedQuizzes }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item class="ion-no-padding">
                <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row>
                        <ion-col class="ion-no-padding">Absolvierte Fragen:</ion-col>
                        <ion-col class="ion-no-padding ion-text-end"
                                 size="auto">{{ completedCards }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <app-achievements></app-achievements>

</ion-content>