/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  ion-header {
    ion-toolbar {
      background-color: transparent; // Beispielhafte Hintergrundfarbe
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
    }

    ion-title {
      font-size: x-large;
      color: var(--ion-text-color);
    }
  }

  ion-content {
    margin-bottom: 0;

    ion-card {
      --background: var(--ion-background-color-dark);
      color: var(--ion-text-color);
      padding: 0;
      --border: none;
      box-shadow: 3px 3px 3px var(--ion-background-color-dark);

      ion-card-content {
        ion-item {
          --background: transparent !important; // Hintergrundfarbe der ion-item auf transparent setzen
          margin: 0;
          ion-grid {

            ion-row {

              ion-col {
                color: white;
                ion-text {
                }
              }
            }
          }
        }
      }
    }
  }
}


/* DARK MODE */
@media (prefers-color-scheme: dark) {
  ion-header {
    ion-toolbar {
      background-color: transparent; // Beispielhafte Hintergrundfarbe
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
    }

    ion-title {
      font-size: x-large;
      color: var(--ion-text-color);
    }
  }

  ion-content {
    margin-bottom: 0;

    ion-card {
      --background: var(--ion-background-color-lightdark);
      color: var(--ion-text-color);
      padding: 0;
      --border: none;
      box-shadow: 3px 3px 3px var(--ion-background-color-dark);

      ion-card-content {
        ion-item {
          --background: transparent !important; // Hintergrundfarbe der ion-item auf transparent setzen
          margin: 0;
          ion-grid {

            ion-row {

              ion-col {
                color: white;
                ion-text {
                }
              }
            }
          }
        }
      }
    }
  }
}
