<ion-header class="ion-no-border">
    @if (searchBarVisible) {
    <ion-toolbar class="ion-padding ion-no-border">
        <ion-searchbar class="ion-no-border" [(ngModel)]="categoryService.searchCategory"
                       (ionInput)="categoryService.filterCategories()"
                       (ionCancel)="toggleSearch()"
                       placeholder="nach Kategorie suchen"
                       show-cancel-button="always"
                       show-clear-button="focus"
        ></ion-searchbar>
    </ion-toolbar>
    } @else {
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="backButton ion-padding-top" [routerLink]="['/home']">
                <ion-icon name="arrow-back-outline" class="arrowBack"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-padding-top">Module</ion-title>
        @if (categoryService.categories) {
    <ion-buttons slot="end">
        <ion-button (click)="toggleSearch()">
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    }
    </ion-toolbar>
    }
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
    <ng-container *ngIf="!loaded; else content">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let category of categoryService.filteredCategories">
                    <div class="card">
                        <ion-skeleton-text class="categoryImage" [animated]="true">
                        </ion-skeleton-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>

    <ng-template #content>
        <ion-grid>

            <ion-row *ngIf="categoryService.pendingCategories.length > 0">
                <ion-col size="12">
                    <h2>Ausstehend</h2>
                </ion-col>
                <ion-col size="6" *ngFor="let category of categoryService.pendingCategories">
                    <div class="card" (click)="categoryService.startQuiz(category.id)">
                        <img class="categoryImage" [src]="category.imagePath" alt="{{ category.name }}">
                        <div class="text-overlay">{{ category.name }}</div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="categoryService.filteredCategories.length === 0">
                <ion-col size="12">
                    <ion-text>
                        <p>Kein Ergebnis gefunden</p>
                    </ion-text>
                </ion-col>
            </ion-row>


            <ion-row *ngIf="categoryService.completedCategories.length > 0">
                <ion-col size="12">
                    <h2>Absolviert</h2>
                </ion-col>
                <ion-col size="6" *ngFor="let category of categoryService.completedCategories">
                    <div class="card" (click)="categoryService.startQuiz(category.id)">
                        <img class="categoryImage" [src]="category.imagePath" alt="{{ category.name }}">
                        <div class="text-overlay">{{ category.name }}</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>