<!-- categories.component.html -->
<ion-header>
    <ion-toolbar>
        <ion-title>Leistungen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
                <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="shareRecords()">
                <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar *ngIf="searchBarVisible">
        <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="navigateHome()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Entdecken</ion-title>
            <ion-buttons slot="end">
                <ion-icon name="search-outline"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngFor="let category of categories$ | async" (click)="selectCategory(category.id)">
            {{ category.name }}
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Neue Kategorie</ion-label>
        <ion-input [(ngModel)]="newCategoryName" type="text"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="addCategory(newCategoryName)">Kategorie hinzufügen</ion-button>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="home" (click)="navigateHome()">
                    <ion-icon name="home"></ion-icon>
                    Home
                </ion-tab-button>
                <ion-tab-button tab="book">
                    <ion-icon name="book"></ion-icon>
                    Module
                </ion-tab-button>
                <ion-tab-button tab="add-outline">
                    <ion-icon name="add-outline"></ion-icon>
                    Hinzufügen
                </ion-tab-button>
                <ion-tab-button tab="stats-chart-outline">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                    Fortschritt
                </ion-tab-button>
                <ion-tab-button tab="person">
                    <ion-icon name="person"></ion-icon>
                    Profil
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
