/**
DARK MODE
 **/
@media (prefers-color-scheme: dark) {
  .header-ios ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
  }
  .header-md ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
    --border-style: none;
  }

  ion-header {
    padding: 0;
    ion-toolbar {
      --background: transparent;
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
    }
    ion-title {
      font-size: x-large;
      color: var(--ion-text-color);
    }
    ion-searchbar {
      --cancel-button-color: var(--ion-text-color-light);
      --box-shadow: none;
      color: white;
    }
  }
  .categoryImage {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.5;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    pointer-events: none;
  }

  .categoryImage p {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    .categoryImage {
      height: 150px; /* Erhöhte Höhe für größere Bildschirme */
    }
    .categorySkeleton {
      height: 150px; /* Erhöhte Höhe für größere Bildschirme */

    }
  }
  ion-col {
    --padding: 0 !important;
  }
  .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  .card {
    transition: transform 0.5s ease;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card:active {
    transform: scale(0.95);
  }
  /* Scoped components require higher specificity to customize */
  ion-searchbar.custom {
    --background: var(--ion-background-color-dark);
    --color: var(--ion-text-color-darker);
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;

    --border-radius: 4px;
  }

  ion-searchbar.ios.custom {
    --cancel-button-color: var(--ion-background-color-darker);
  }

  ion-searchbar.md.custom {
    --cancel-button-color: #fff;
  }
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  ion-header {
    ion-toolbar {
      background-color: transparent !important;
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
      --padding-start: var(--ion-padding, 16px);
      --padding-bottom: var(--ion-padding, 16px);

      .toolbar-background,
      .toolbar-container {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        color: var(--ion-text-color);
      }

      ion-title {
        font-size: x-large;
        color: var(--ion-text-color);
      }
    }
  }

  ion-content {
    margin-bottom: 0;

    ion-card {
      background-color: var(--ion-background-color-dark);
      color: var(--ion-text-color);
      padding: 0;
      --border: none;
      box-shadow: 3px 3px 3px var(--ion-background-color-dark);

      ion-card-content {
        background-color: transparent !important;

        ion-item {
          background-color: transparent !important;

          ion-grid {
            background-color: transparent !important;

            ion-row {
              background-color: transparent !important;

              ion-col {
                background-color: transparent !important;

                ion-text {
                  background-color: transparent !important;
                }
              }
            }
          }
        }
      }
    }
  }

  ion-searchbar {
    --cancel-button-color: blue();
    box-shadow: none !important;
    --box-shadow: none!important;
    ion-input {
      box-shadow: none !important;
      --box-shadow: none!important;
    }
  }

  ion-icon {
    color: var(--ion-text-color-dark);
  }

  .categoryImage {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.5;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    pointer-events: none;
  }

  .categoryImage p {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    .categoryImage {
      height: 150px; /* Erhöhte Höhe für größere Bildschirme */
    }

    .categorySkeleton {
      height: 150px; /* Erhöhte Höhe für größere Bildschirme */
    }
  }

  ion-col {
    --padding: 0 !important;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .card {
    transition: transform 0.5s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card:active {
    transform: scale(0.95);
  }
  /* Scoped components require higher specificity to customize */
  ion-searchbar.custom {
    --background: var(--ion-background-color-darker);
    --color: var(--ion-text-color-darker);
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;

    --border-radius: 4px;
  }

  ion-searchbar.ios.custom {
    --cancel-button-color: var(--ion-background-color-darker);
  }

  ion-searchbar.md.custom {
    --cancel-button-color: #fff;
  }
}
