<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Entdecken</ion-title>
        <ion-buttons [collapse]="true" slot="end">
            <ion-button>
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons [collapse]="true" slot="start">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-buttons>
            <ion-title>Entdecken</ion-title>
            <ion-buttons [collapse]="true" slot="end">
                <ion-icon name="search-outline"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Mathe</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Geschichte</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Pflanzen</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Sport</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Geografie</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Literatur</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Mathe</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Mathe</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Physik</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Gaming</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Tiere</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card color="dark">
                        <ion-card-header>
                            <ion-card-content>Informatik</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="home">
                    <ion-icon name="home"></ion-icon>
                    Home
                </ion-tab-button>
                <ion-tab-button tab="book">
                    <ion-icon name="book"></ion-icon>
                    Module
                </ion-tab-button>
                <!--
                <ion-tab-button tab="add-outline">
                    <ion-icon name="add-outline">
                    </ion-icon>
                    Hinzufügen
                </ion-tab-button>
                -->
                <ion-tab-button tab="add-outline">
                    <ion-icon name="add-outline">
                    </ion-icon>
                    Hinzufügen
                </ion-tab-button>
                <ion-tab-button tab="library">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                    Fortschritt
                </ion-tab-button>
                <ion-tab-button tab="person">
                    <ion-icon name="person"></ion-icon>
                    Profil
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>