<ion-content class="ion-padding">

    <ion-toolbar class="ion-margin-bottom">
        <ion-text slot="start">
            <h1>Hallo, <br> <span class="userName">{{ userName }}</span></h1></ion-text>
        <ion-buttons slot="end">
            <ion-icon name="person-circle" [routerLink]="['/profile']"></ion-icon>
        </ion-buttons>
    </ion-toolbar>

    <ion-card class="progressCard">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="8" class="learnedToday">
                        <p>Lernfortschritt heute</p>
                        <h2 *ngIf="loaded; else loading">
                            {{ learnedMinutes < 1 ? ' 1 min ' : (learnedMinutes > 30 ? '30 min' :
                            learnedMinutes + ' min') }} / {{ totalMinutes }} min
                        </h2>
                        <ng-template #loading>
                            <ion-skeleton-text style="width: 150px ; height: 30px"
                                               [animated]="true"></ion-skeleton-text>
                        </ng-template>
                    </ion-col>
                    <ion-col size="4" class="stats">
                        <p [routerLink]="['/total-stats']">Statistik</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <div class="progressBarContainer">
                            <!--<div class="progressBar" [ngClass]="{'full': progress >= 30}"
                                 [style.width.%]="(learnedMinutes /
                            totalMinutes) * 100"></div> -->
                            <div class="progressBar" [ngClass]="{'full': progress >= 30}"
                            [style.width.%]="progress"></div>
                        </div>
                        <p [routerLink]="['/achievements']">Achievements</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-grid>
        <ion-row class="header-row-e">
            <ion-col size="auto">
                <ion-text class="entdecken">Entdecken</ion-text>
            </ion-col>
            <ion-col size="auto" class="align-end">
                <ion-button fill="clear" [routerLink]="['/categories']" class="showAll">
                    Alle anzeigen
                    <ion-icon class="chevron" slot="end" name="chevron-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="preview">
            <ion-col size="6" *ngFor="let category of categories">
                <div class="card" (click)="categoryService.startQuiz(category.id)">
                    <div class="image-container">
                        <img class="categoryImage" [src]="category.imagePath"
                             alt="{{ category.name }}">
                        <div class="text-overlay">{{ category.name }}</div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="Module">
        <ion-grid>
            <ion-row class="header-row-m">
                <ion-col size="auto">
                    <ion-text class="entdecken">Meine Module</ion-text>
                </ion-col>
                <ion-col size="auto" class="align-end">
                    <ion-button fill="clear" [routerLink]="['/meine-module']"
                                class="showAll">
                        Alle anzeigen
                        <ion-icon class="chevron" slot="end" name="chevron-forward"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-list class="favoriteItem" *ngIf="favCategories.length > 0">
                <ion-item-sliding *ngFor="let category of favCategories">
                    <ion-item lines="none">
                        <ion-grid>
                            <ion-row class="ion-align-items-center">
                                <ion-col class="centerCircle" size="2">
                                    <svg class="progressCircle" width="30" height="30"
                                         viewBox="0 0 50 50">
                                        <circle class="progressCircleBack" cx="25" cy="25" r="20"
                                                fill="none" stroke="#eee" stroke-width="5"/>
                                        <circle class="progressCircleFront" cx="25" cy="25" r="20"
                                                fill="none" stroke="#ff6f61" stroke-width="5"
                                                [attr.stroke-dasharray]="125.6"
                                                [attr.stroke-dashoffset]="125.6 - (category.completedCards / category.questionCount * 125.6)"/>
                                    </svg>
                                </ion-col>
                                <ion-col size="6" (click)="categoryService.startQuiz(category.id)">
                                    {{ category.name }}
                                </ion-col>
                                <ion-col size="4" class="ion-text-right">
                                    {{ category.completedCards }} / {{ category.questionCount }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="removeFav(category)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>


            <ion-list class="favoriteItem" *ngIf="favCategories.length === 0">
                <ion-item lines="none">
                    <ion-text>Du hast noch keine favorisierten Module
                        😢
                    </ion-text>

                    <ion-button color="warning" slot="end"
                                [routerLink]="['/meine-module']"
                                class="meine-module"> Module hinzufügen
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-grid>
    </div>
</ion-content>

