$secondary-color-fallback: #3880ff;
$button-background: #FF6905;

:root {
  --ion-color-secondary: #3880ff;
  --button-background: #FF6905;
}

$secondary-color: var(--ion-color-secondary, $secondary-color-fallback);

// Light Theme
@media (prefers-color-scheme: light) {

  ion-toolbar ion-button {
    justify-content: end;
  }

  ion-toolbar ion-icon {
    width: 60px;
    height: 60px;
    display: flex;
    text-align: right;
    justify-content: end;
    --padding-start: 10px;
    background: transparent;
  }

  h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-text-color);
  }

  h1 .userName {
    font-size: 24px;
    font-weight: 800;
    color: var(--ion-text-color);
  }

  ion-content {
    --background: var(--ion-background-color);
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .medal {
    width: 75px;
    height: 75px;
    float: right;
  }

  ion-card-content p {
    font-weight: 300;
    font-size: 14px;
    color: var(--ion-text-color);
  }

  .progressCard {
    --background: var(--ion-card-background);
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    background-color: #b3b3cc;
    color: #ffffff;
    position: relative;
    overflow: hidden;
  }

  .progress {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: x-large;
  }

  .categoryImage {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.5;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    pointer-events: none;
  }

  .categoryImage p {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  ion-col {
    --padding: 0 !important;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .card {
    transition: transform 0.5s ease;
  }

  .card:active {
    transform: scale(0.95);
  }

  .header-row-e {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .header-row-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
  }

  .entdecken {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-text-color);
  }

  .chevron {
    width: 15px;
    height: 15px;
  }

  .showAll {
    font-size: 12px;
    font-weight: 400;
    --padding-start: 0;
    --padding-end: 0;
    display: flex;
    align-items: center;
    text-transform: none;
    background-color: transparent;
    color: var(--ion-color-primary);
  }

  .favorites {
    margin-top: 0.3rem;
  }

  .favoriteItem {
    border-radius: 10px;
    --border-color: var(--ion-background-color-lightdark);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .meine-module {
    text-transform: none;
    --ion-color-contrast: var(--ion-color-primary);
    background-color: var(--ion-background-color-lightdark);
  }

  @media (min-width: 768px) {
    .categoryImage {
      height: 150px;
    }
  }

  .learnedToday {
    display: flex;
    flex-direction: column;
  }

  .learnedToday p {
    color: #ffffff;
  }

  .learnedToday h2 {
    margin-top: 3px;
    font-size: 1.5em;
  }

  .stats p {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    justify-content: end;
    margin: 0;
    color: var(--ion-color-primary);
    cursor: pointer;
  }

  .progressBarContainer {
    width: 100%;
    height: 10px;
    background-color: #f8f8ff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .progressBar {
    height: 100%;
    background-color: #ff6f61;
    transition: width 0.3s ease;
  }

  .progressBar.full {
    background-color: #76c776;
    transition: 0.3s ease;
  }

  ion-skeleton-text {
    --border-radius: 9999px;
    --background: #bcbcbc;
    --background-rgb: 188, 188, 188;
  }

// Auskommentierter Code
/*
.progress-button {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe f端r den Button
  color: white;
  margin: 0 0 0 5px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}

.progress-button-auto {
  display: inline-block;
  width: auto;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe f端r den Button
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}

.circle-progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(
                  #78C000 0deg,
                  #78C000 calc(var(--progress) * 3.6deg),
                  #C7E596 calc(var(--progress) * 3.6deg),
                  #C7E596 360deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1d1d2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
}

.circle-progress span {
  font-size: 0.8em;
}
*/
}

// Dark Theme
@media (prefers-color-scheme: dark) {

  ion-toolbar ion-button {
    justify-content: end;
  }

  ion-toolbar ion-icon {
    width: 60px;
    height: 60px;
    display: flex;
    text-align: right;
    justify-content: end;
    --padding-start: 10px;
    background: transparent;
  }

  h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-text-color);
  }

  h1 .userName {
    font-size: 24px;
    font-weight: 800;
    color: var(--ion-text-color);
  }

  ion-content {
    --background: var(--ion-background-color);
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .medal {
    width: 75px;
    height: 75px;
    float: right;
  }

  ion-card-content p {
    font-weight: 300;
    font-size: 14px;
    color: var(--ion-text-color);
  }

  .progressCard {
    --background: var(--ion-card-background);
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    background-color: var(--ion-background-color-lightdark);
    color: #ffffff;
    position: relative;
    overflow: hidden;
  }

  .progress {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: x-large;
  }

  .categoryImage {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.5;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    pointer-events: none;
  }

  .categoryImage p {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  ion-col {
    --padding: 0 !important;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .card {
    transition: transform 0.5s ease;
  }

  .card:active {
    transform: scale(0.95);
  }

  .header-row-e {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .header-row-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
  }

  .entdecken {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-text-color);
  }

  .chevron {
    width: 15px;
    height: 15px;
  }

  .showAll {
    font-size: 12px;
    font-weight: 400;
    --padding-start: 0;
    --padding-end: 0;
    display: flex;
    align-items: center;
    text-transform: none;
    background-color: transparent;
    color: var(--ion-color-primary);
  }

  .favorites {
    margin-top: 0.3rem;
  }

  .favoriteItem {
    border-radius: 10px;
    --border-color: var(--ion-background-color-lightdark);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .meine-module {
    text-transform: none;
    --ion-color-contrast: var(--ion-color-primary);
    background-color: var(--ion-background-color-lightdark);
  }

  @media (min-width: 768px) {
    .categoryImage {
      height: 150px;
    }
  }

  .learnedToday {
    display: flex;
    flex-direction: column;
  }

  .learnedToday p {
    color: #ffffff;
  }

  .learnedToday h2 {
    margin-top: 3px;
    font-size: 1.5em;
  }

  .stats p {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    justify-content: end;
    margin: 0;
    color: var(--ion-color-primary);
    cursor: pointer;
  }

  .progressBarContainer {
    width: 100%;
    height: 10px;
    background-color: #2F2F42;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .progressBar {
    height: 100%;
    background-color: #ff6f61;
    transition: width 0.3s ease;
  }

  .progressBar.full {
    background-color: #76c776;
    transition: 0.3s ease;
  }

  ion-skeleton-text {
    --border-radius: 9999px;
    --background: #bcbcbc;
    --background-rgb: 188, 188, 188;
  }
}

// Auskommentierter Code
  /*
.progress-button {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe f端r den Button
  color: white;
  margin: 0 0 0 5px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}

.progress-button-auto {
  display: inline-block;
  width: auto;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe f端r den Button
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}

.circle-progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(
                  #78C000 0deg,
                  #78C000 calc(var(--progress) * 3.6deg),
                  #C7E596 calc(var(--progress) * 3.6deg),
                  #C7E596 360deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1d1d2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
}

.circle-progress span {
  font-size: 0.8em;
}
}
*/