$secondary-color-fallback: #3880ff; // Beispiel für eine sekundäre Farbe
$button-background: #FF6905; // Orange Farbe für den Button

:root {
  --ion-color-secondary: #3880ff;
  --button-background: #FF6905;
}

$secondary-color: var(--ion-color-secondary, $secondary-color-fallback);

ion-toolbar {
  --padding-start: 10px;
  --background: var(--ion-background-color);

}

ion-toolbar ion-button {
  justify-content: end;
}

ion-toolbar ion-icon {
  width: 60px;
  height: 60px;
  display: flex;
  text-align: right;
  justify-content: end;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--ion-text-color);
}

h1 .userName {
  font-size: 24px;
  font-weight: 800;
  color: var(--ion-text-color);
}

ion-content {
  --background: var(--ion-background-color);
}

ion-card-content {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.medal {
  width: 75px;
  height: 75px;
  float: right;

}

ion-card-content p {
  font-weight: 300;
  font-size: 14px;
  color: var(--ion-text-color);
}

.progressCard {
  --background: var(--ion-card-background);
    border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;


}

/*
.progress-button {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe für den Button
  color: white;
  margin: 0 0 0 5px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}
*/

.progress{
  width: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: x-large;
}

/*.progress-button-auto {
  display: inline-block;
  width: auto;
  font-size: 12px;
  text-transform: none;
  background-color: $button-background; // Orange Farbe für den Button
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:disabled {
    background-color: lighten($button-background, 30%);
    cursor: not-allowed;
  }
}*/

.categoryImage {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  opacity: 0.5;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  pointer-events: none;
}

.categoryImage p {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ion-col {
  --padding: 0 !important;

}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.card {
  transition: transform 0.5s ease;
}

/*.card:hover {
  transform: scale(1.05);
}*/

.card:active {
  transform: scale(0.95);
}

.header-row-e {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

}

.header-row-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 5px;
}

.entdecken {
  font-size: 16px;
  font-weight: 500;
  color: var(--ion-text-color);
}

.chevron{
  width: 15px;
  height: 15px;
}

.showAll {
  font-size: 12px;
  font-weight: 400;
  --padding-start: 0;
  --padding-end: 0;
  display: flex;
  align-items: center;
  text-transform: none;
  background-color: transparent;
  color: var(--ion-color-primary);
}

.favorites {
  margin-top: 0.3rem;
  //box-shadow: #0d0d0d 0px 10px 20px 0px;


}

.favoriteItem{
  border-radius: 10px;
  --border-color: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/*.home-box-none-module{
  background-color: transparent;
  .ion-text-start{
    background-color: transparent;
    font-size: smaller;
    margin: 10px 0 10px 0;
  }
}*/

//TODO: Fix button color
.meine-module {
  text-transform: none;
  --ion-color-contrast: var(--ion-color-primary);
}

/** MOBILE **/
@media (min-width: 768px) {
  .categoryImage {
    height: 150px;
  }
}


.progressCard {
  background-color: #1d1d2b;
  border-radius: 10px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.learnedToday {
  display: flex;
  flex-direction: column;
}

.learnedToday p {
  //margin: 0;
  color: #ffffff;
}

.learnedToday h2 {
  margin-top: 3px;
  //margin: 0;
  font-size: 1.5em;
}

.stats p {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  justify-content: end;
  margin: 0;
  color: var(--ion-color-primary);
  cursor: pointer;
}

.progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  //background-color: #2F2F42;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progressBar {
  height: 100%;
  background-color: #ff6f61;
 // background: linear-gradient(to right, #ead6d6, #ff6f61);
  transition: width 0.3s ease;

}

.progressBar.full{
  //background-color: #77dd77;
  //background-color: #32cd32;
  //background-color: #98fb98;
  background-color: #76c776;
  transition: 0.3s ease;
}


//Fortschrittssanzeige der favoriten
/*.circle-progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(
                  #78C000 0deg,
                  #78C000 calc(var(--progress) * 3.6deg),
                  #C7E596 calc(var(--progress) * 3.6deg),
                  #C7E596 360deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1d1d2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1em;
}

.circle-progress span {
  font-size: 0.8em;
}*/




