<ion-content class="ion-padding" *ngIf="!isLoading">
    <ion-toolbar class="ion-margin-bottom">
        <ion-text slot="start">
            <h1>Hallo, <br> <span class="userName">{{ userName }}</span></h1></ion-text>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-card class="ion-padding ion-margin-bottom progressCard">
        <ion-card-content class="ion-no-padding">
            <p class="progress">Überprüfe deinen Lernfortschritt <br> und schaue dir deine <br>Achievements
                an</p>
            <ion-img slot="end" class="medal" [src]="'assets/medalbg.png'" alt="medal"></ion-img>
        </ion-card-content>

        <ion-button routerLink="/achievements" class="achievementsButton" disabled
                    style="--background:
        #FF6905;">Fortschritt
        </ion-button>
        <!--
                <ion-button routerLink="/total-stats" class="stats-button" style ="&#45;&#45;background: #FF6905;">Total-Stats</ion-button>
        -->

    </ion-card>

    <ion-grid>
        <ion-row class="header-row">
            <ion-col size="auto">
                <ion-text class="entdecken">Entdecken</ion-text>
            </ion-col>
            <ion-col size="auto" class="align-end">
                <ion-button fill="clear" [routerLink]="['/categories']" class="entdecken-button">
                    Alle anzeigen
                    <ion-icon slot="end" name="chevron-forward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="preview">
            <ion-col size="6" *ngFor="let category of categories">
                <div class="card" (click)="categoryService.startQuiz(category.id)">
                    <div class="image-container">
                        <img class="categoryImage" [src]="category.imagePath"
                             alt="{{ category.name }}">
                        <div class="text-overlay">{{ category.name }}</div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="Module">
        <ion-grid>
            <ion-row class="header-row">
                <ion-col size="auto">
                    <ion-text class="entdecken">Meine Module</ion-text>
                </ion-col>
                <ion-col size="auto" class="align-end">
                    <ion-button fill="clear" [routerLink]="['/meine-module']"
                                class="entdecken-button">
                        Alle anzeigen
                        <ion-icon slot="end" name="chevron-forward"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ng-container *ngIf="favoriteModules.length === 0" class="favorites">
                <ion-item>
                    <ion-text class="ion-text-start">Du hast noch keine favorisierten Module
                        😢</ion-text>

                        <ion-button slot="end"  [routerLink]="['/meine-module']"
                                    class="meine-module"
                                     style="--background: #FF6905;"> Module hinzufügen</ion-button>

                </ion-item>
            </ng-container>
               <!-- <ion-card *ngIf="favoriteModules.length === 0">Sie haben noch keine Module
                    ausgewählt.
                    <ion-button routerLink="/meine-module" class="meine-module"
                                style="&#45;&#45;background: #FF6905;"> Module hinzufügen
                    </ion-button>
                </ion-card>-->
            <ion-list *ngIf="favoriteModules.length > 0" class="favorites">
                <ion-item-sliding *ngFor="let module of favoriteModules">
                    <ion-item (click)="categoryService.startQuiz(module.id)">
                        {{ module.name }}
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="removeFavoriteModule(module)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-grid>
    </div>
</ion-content>

<app-footer *ngIf="!isLoading"></app-footer>
