.home-container {
    text-align: center;
    /* margin-top: 50px; */
}

h1 {
    font-size: 2.5em;
    color: #4CAF50;
}

p {
    font-size: 1.2em;
    color: #757575;
}

ion-button {
    margin-top: 20px;
    font-size: 1.2em;
}

*{
    border: #2dd36f 1px solid;
}

.forgot-password-link {
    color: #3880ff; /* Farbe anpassen */
    text-decoration: none; /* Unterstreichung */
    cursor: pointer;
}

span a{
    color: #FFC33F;
    text-decoration: none;
}