/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

/* Light Mode Variables */
:root {
  --ion-color-primary: #0e83e3;
  --ion-color-primary-rgb: 14, 81, 227;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c47c8;
  --ion-color-primary-tint: #2696e6;

  --ion-color-secondary: #530EE3;
  --ion-color-secondary-rgb: 83, 14, 227;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #490cc8;
  --ion-color-secondary-tint: #6426e6;

  --ion-color-tertiary: #990EE3;
  --ion-color-tertiary-rgb: 153, 14, 227;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #870cc8;
  --ion-color-tertiary-tint: #a326e6;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;
  // changed color #E3BC0E
  --ion-color-warning: #FF6905FF;
  --ion-color-warning-rgb: 227, 188, 14;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c8a50c;
  --ion-color-warning-tint: #e6c326;

  --ion-color-danger: #E30E0F;
  --ion-color-danger-rgb: 227, 14, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c80c0d;
  --ion-color-danger-tint: #e62627;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #858585;

  /* Background and Text Colors */
  --ion-background-color: #ffffff; /* weißer Hintergrund für den Light Mode */
  --ion-text-color: #000000; /* schwarzer Text für den Light Mode */
  --ion-text-color-light: #fff; /* schwarzer Text für den Light Mode */
  --ion-card-background: #ffffff; /* weißer Hintergrund für Karten */

  /* Buttons Colors */
  --ion-button-background: var(--ion-color-secondary);
  --ion-button-background-rgb: var(--ion-color-secondary-rgb);
  --ion-button-color: var(--ion-color-secondary-contrast);
  --ion-button-color-rgb: var(--ion-color-secondary-contrast-rgb);
}

/* Dark Mode Variables */
[data-theme="dark"] {
  /* Primary Color */
  --ion-color-primary: #1F1F39;
  --ion-color-primary-rgb: 31, 31, 57;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1b1b32;
  --ion-color-primary-tint: #2F2F42;

  /* Secondary Color */
  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  /* Tertiary Color */
  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  /* Success Color */
  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;
  --ion-color-success-text: #395200;
  --ion-color-success-border: #8fce00;
  --ion-color-success-background: #d2eb99;


  /* Warning Color */
  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  /* Danger Color */
  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  /* Light Color */
  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  /* Medium Color */
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /* Dark Color */
  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  /* Background and Text Colors */
  --ion-background-color: #1F1F39;
  --ion-text-color: #ffffff; /* Standard Textfarbe für Dark Mode */

  /* Button Colors */
  --ion-button-background: var(--ion-color-secondary);
  --ion-button-background-rgb: var(--ion-color-secondary-rgb);
  --ion-button-color: var(--ion-color-secondary-contrast);
  --ion-button-color-rgb: var(--ion-color-secondary-contrast-rgb);
}

/* Light Mode Specific Styles */
@media (prefers-color-scheme: light) {
  :root {
    --ion-background-color: #e0e0ff; /* heller lila Hintergrund */
    --ion-background-color-darker: #c9c9e5; /* heller lila Hintergrund */
    --ion-background-color-dark: #b3b3cc; /* heller lila Hintergrund */
    --ion-icon-achievements: #FF8000;
    --ion-text-color: #35354c; /* dunkler Text */
    --ion-text-color-title: #595966;
    --ion-text-color-body: #e0e0ea;
    --ion-item-background: #9c9cb2; /* sehr helles Lila für Items */
    --ion-toolbar-background: transparent; /* heller lila Hintergrund für Toolbar */
    --ion-card-background-mockup: #ececff;
    --ion-border-color: #c9c9e5; /* helles lila für Border */
  }

  .ios body {
    --ion-background-color: #e0e0ff; /* heller lila Hintergrund */
    --ion-background-color-rgb: 224, 224, 255;
    --ion-text-color: #595966; /* dunkler Text */
    --ion-text-color-dark: #3e3e47; /* dunkler Text */
    --ion-text-color-darker: #2c2c33; /* dunkler Text */
    --ion-text-color-rgb: 31, 31, 57;
    --ion-item-background: #f8f8ff; /* sehr helles Lila für Items */
  }

  .ios ion-modal {
    --ion-background-color: #ffffff; /* weißer Hintergrund für Modals */
    --ion-toolbar-background: #f0f0ff; /* sehr helles Lila für Toolbar in Modals */
    --ion-toolbar-border-color: #ddddee; /* helles lila für Toolbar-Borders in Modals */
  }

  .md body {
    --ion-background-color: #e0e0ff; /* heller lila Hintergrund */
    --ion-background-color-rgb: 224, 224, 255;
    --ion-text-color: #1F1F39; /* dunkler Text */
    --ion-text-color-rgb: 31, 31, 57;
    --ion-border-color: #ddddff; /* helles lila für Border */
    --ion-toolbar-background: #e0e0ff; /* heller lila Hintergrund für Toolbar */
    --ion-tab-bar-background: #e0e0ff; /* heller lila Hintergrund für Tab-Bar */
    --ion-card-background: #ffffff; /* weißer Hintergrund für Karten */
    --ion-card-border-color: #ccccee; /* helles lila für Border für Karten */
    --ion-card-title: white; /* dunkler Text für Karten-Titel */
  }

  .md ion-modal {
    --ion-background-color: #ffffff; /* weißer Hintergrund für Modals */
    --ion-toolbar-background: #f0f0ff; /* sehr helles Lila für Toolbar in Modals */
    --ion-toolbar-border-color: #ddddee; /* helles lila für Toolbar-Borders in Modals */
  }

  ion-toolbar ion-icon {
    color: var(--ion-text-color-title);
  }
}

/* Dark Mode Specific Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #1F1F39;
    --ion-text-color: #ffffff;
    --ion-text-color-title: #d2d2d7;
    --ion-text-color-body: #f4f4f4;
    --ion-icon-achievements: #F0ca00;
    --ion-item-background: #18182d;
     --ion-toolbar-background: transparent;
    --ion-card-background-mockup: #3E3E56;
    --ion-card-background-mockup-text: #c5c5cc;
    --ion-background-color-lightdark: #18182d;
    --ion-background-color-dark: #0f0f1c;
    --ion-background-color-darker: #090911;
    --ion-background-color-md: #1F1F39;
  }

  .ios body {
    --ion-background-color: #1F1F39;
    --ion-background-color-dark: #0f0f1c;
    --ion-background-color-darker: #090911;
    --ion-background-color-rgb: 31, 31, 57;
    --ion-text-color: #ffffff;
    --ion-text-color-light: #696983;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-item-background: #18182d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
    --ion-background-color-dark: #0f0f1c;
    --ion-background-color-darker: #090911;
  }

  .md body {
    --ion-background-color: #1F1F39;
    --ion-background-color-dark: #0f0f1c;
    --ion-background-color-darker: #090911;
    --ion-background-color-md: #1F1F39;
    --ion-background-color-rgb: 31, 31, 57;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-item-background: #18182d;
    --ion-tab-bar-background: #35354d;
    --ion-card-border-color: #fff;
    --ion-color-primary: #3D5CFF;
  }

  .md ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  ion-toolbar ion-icon {
    color: #ffffff;
  }
}
