// LIGHT MODE
@media (prefers-color-scheme: light) {
  .header-ios ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
  }
  ion-header-md {
    .header-md ion-toolbar {
      --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
      --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
      --border-style: none;
    }
  }

  ion-header {
    ion-toolbar {
      --background: transparent;
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
    }
    ion-title {
      font-size: xx-large;
      color: var(--ion-text-color);
    }
  }

  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-input {
      --background: var(--ion-background-color-darker) !important;
      color: #858597 !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      height: 70px !important;
      --border-radius: 10px !important;
    }

    .input-wrapper,
    .native-wrapper {
      border-radius: 10px !important;
    }

    .native-input {
      font-size: 14px !important;
    }

    .ulp {
      font-size: 16px !important;
      font-weight: 500 !important;
      text-transform: none !important;
      --background: #3D5CFF !important;
      --border-radius: 10px !important;
      height: 70px !important;
      min-width: 380px !important;
    }

    .backButton {
      --background: transparentize(#3D5CFF, 0) !important;
      margin-right: auto !important;
    }

    .buttonAfterlist {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      margin-top: 20px !important;
    }
  }
}

// DARK MODE
@media (prefers-color-scheme: dark) {
  .header-ios ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
  }
  .header-md ion-toolbar {
    --border-width: 0 !important; /* Entfernen der Border für iOS Modus */
    --box-shadow: none !important; /* Entfernen des Shadows für MD Modus */
    --border-style: none;
  }

  ion-header {
    padding: 0;
    ion-toolbar {
      --background: transparent;
      --border-width: 0;
      --box-shadow: none !important;
      --border-style: none;
    }
    ion-title {
      font-size: x-large;
      color: var(--ion-text-color);
    }
}

ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-input {
    --background: var(--ion-card-background-mockup) !important;
    color: var(--ion-card-background-mockup-text) !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    height: 70px !important;
    --border-radius: 10px !important;
  }

  .input-wrapper,
  .native-wrapper {
    border-radius: 10px !important;
  }

  .native-input {
    font-size: 14px !important;
  }

  .ulp {
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    --background: #3D5CFF !important;
    --border-radius: 10px !important;
    height: 70px !important;
    min-width: 380px !important;
  }

  .backButton {
    --background: transparentize(#3D5CFF, 0) !important;
    margin-right: auto !important;
  }

  .buttonAfterlist {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
  }
}

}