<ion-content>
            <ion-text>MultipleChoice</ion-text>
    <swiper-container pagination="true">
        <swiper-slide class="ion-padding">
            <ion-img src="assets/question.png"></ion-img>
        </swiper-slide>
        <swiper-slide class="ion-padding">
            <ion-img src="assets/knowledge.png"></ion-img>
        </swiper-slide>
        <swiper-slide class="ion-padding">
            <ion-img src="assets/achievement.png"></ion-img>
        </swiper-slide>
    </swiper-container>
</ion-content>

<ion-button>
    Anmelden
</ion-button>
<ion-button class="ion-color-dark">
    Registrieren
</ion-button>
